<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="special-elite-regular">
		<a href="/">Home</a>
		<a href="/challenges">All Challenge Categories</a>
		<% if (user) { %>
			<a href="/challenges/new">Add Challenge</a>
			<a href="/challenges/edit">Edit Challenge</a>
			<a href="/progress">Your Progress</a>
			<div class="user-login">
				<img src="<%= user.avatar %>" class="user-avatar" alt="User Avatar">
				<span><%= user.name %></span>
				<a href="/logout">LOG OUT</a>
			</div>
		<% } else { %>
			<a href="/auth/google" class="login">LOG IN</a>
		<% } %>
	</nav>
</body>
</html>