<% include partials/header %>
<main>
  <h1>Welcome to the RDR2 Challenge Tracker!</h1>
  <h3>Please log in to explore challenges, track your progress, and more.</h3>
</main>
<% include partials/footer %>