nav {
  position: fixed; /* Fix the position of the navigation bar */
  top: 0; /* Position it at the top of the viewport */
  width: 100%; /* Make it span the entire width */
  z-index: 1000; /* Ensure it's above other elements */
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 50px;
  font-family: "Special Elite", sans-serif;
}

a {
  color: #00B7FF;
}



.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.user-login {
  display: inline;
}

.user-login img {
  border-radius: 50%;
  height: 34px;
}