<%- include('../partials/header', { title: 'New Challenge' }) %>

<h1>New Challenge</h1>
<form action="/progress" method="POST">
    <label for="name">Challenge:</label>
    <select id="name" name="name">
        <option value="">Select One</option>
        <%- challenges.map(c => 
      `<option value="${c._id}">${c.name}</option>`
    ).join('') %>
    </select>
    <br>
    <label for="status">Status:</label>
    <select id="status" name="status">
        <option value="Incomplete">Incomplete</option>
        <option value="In Progress">In Progress</option>
        <option value="Complete">Complete</option>
    </select>
    <br>
    <button type="submit">Save Challenge</button>
</form>

<%- include('../partials/footer') %>
