<%- include('../partials/header', { title: 'New Challenge' }) %>

<h1>New Challenge</h1>
<form action="/challenges" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
    <br>
    <label for="category">Category:</label>
    <input type="text" id="category" name="category">
    <br>
    <label for="tasks">Tasks:</label>
    <textarea id="tasks" name="tasks"></textarea>
    <br>
    <button type="submit">Create Challenge</button>

<%- include('../partials/footer') %>